.cours {
  	width: 100%;
  	position: relative;
  	background-color: #f0f3fc;
  	height: 1124px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 24px;
  	color: #4c445e;
  	font-family: Poppins;
}
.navbar {
  	position: absolute;
  	top: 23px;
  	left: 41px;
  	width: 1645px;
  	height: 60px;
  	font-family: Inter;
}
.bouton-inscription {
  	position: absolute;
  	top: 10px;
  	left: 1492px;
  	width: 153px;
  	height: 42px;
  	font-size: 20px;
  	color: #fff;
}
.background {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 50px;
  	background-color: #4c445e;
  	width: 153px;
  	height: 42px;
}
.sinscrire {
  	position: absolute;
  	top: 9px;
  	left: 32px;
  	font-weight: 600;
}
.bouton-connexion {
  	position: absolute;
  	top: 10px;
  	left: 1308px;
  	width: 153px;
  	height: 42px;
  	font-size: 20px;
}
.cours-background {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 50px;
  	background-color: #d6dcf2;
  	border: 3px solid #4c445e;
  	box-sizing: border-box;
  	width: 153px;
  	height: 42px;
}
.se-connecter {
  	position: absolute;
  	top: 9px;
  	left: 12px;
  	font-weight: 600;
}
.prsentation {
  	position: absolute;
  	top: 17px;
  	left: 109px;
  	cursor: pointer;
}
.entreprises {
  	position: absolute;
  	top: 17px;
  	left: 531px;
  	color: #75aa3c;
}
.ecole {
  	position: absolute;
  	top: 17px;
  	left: 305px;
}
.cours2 {
  	position: absolute;
  	top: 17px;
  	left: 415px;
}
.contact {
  	position: absolute;
  	top: 17px;
  	left: 712px;
}
.navbar-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 50%;
  	width: 60px;
  	height: 60px;
}
.logo-icon {
  	position: absolute;
  	top: 4px;
  	left: 7px;
  	width: 45px;
  	height: 55px;
  	object-fit: cover;
}
.chapitre-de-lecon {
  	position: absolute;
  	top: 179px;
  	left: 1346px;
  	border-radius: 25px;
  	background-color: #fff;
  	width: 340px;
  	height: 894px;
}
.cours-chapitre {
  	position: absolute;
  	top: 248px;
  	left: 1353px;
  	border-radius: 5px;
  	border: 1px dashed #8a38f5;
  	box-sizing: border-box;
  	width: 325px;
  	height: 622px;
  	overflow: hidden;
  	font-size: 11px;
}
.property-1default {
  	position: absolute;
  	top: 20px;
  	left: 20px;
  	width: 285px;
  	height: 66px;
}
.property-1default-child {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 7px;
  	background-color: rgba(117, 170, 60, 0.47);
}
.introduction-larithmtique-container {
  	position: absolute;
  	height: 56.06%;
  	width: 50.53%;
  	top: 27.27%;
  	left: 24.64%;
  	display: inline-block;
  	font-weight: 600;
}
.introduction-larithmtique {
  	margin: 0;
  	font-family: inherit;
  	font-size: inherit;
  	padding-left: 15px;
}
.property-1default-item {
  	position: absolute;
  	height: 72.88%;
  	width: 16.91%;
  	top: 12.5%;
  	right: 79.71%;
  	bottom: 14.62%;
  	left: 3.38%;
  	border-radius: 50%;
  	background-color: #fefefe;
}
.i {
  	position: absolute;
  	height: 37.58%;
  	width: 8.21%;
  	top: 27.08%;
  	left: 88.89%;
  	display: inline-block;
  	font-weight: 600;
}
.image-7-icon {
  	position: absolute;
  	width: 8.77%;
  	top: 19px;
  	right: 83.86%;
  	left: 7.37%;
  	max-width: 100%;
  	overflow: hidden;
  	height: 25px;
  	object-fit: cover;
}
.property-1variant2 {
  	position: absolute;
  	top: 106px;
  	left: 20px;
  	width: 285px;
  	height: 66px;
}
.property-1variant2-child {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 7px;
  	background-color: rgba(149, 216, 77, 0.83);
}
.rsolution-dquation {
  	position: absolute;
  	height: 56.21%;
  	width: 51.19%;
  	top: 27.08%;
  	left: 24.64%;
  	display: inline-block;
  	font-weight: 600;
}
.property-1variant3 {
  	position: absolute;
  	top: 192px;
  	left: 20px;
  	width: 285px;
  	height: 66px;
}
.property-1variant3-child {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 7px;
  	background-color: #f8f9fd;
}
.image-10-icon {
  	position: absolute;
  	width: 8.77%;
  	top: 20px;
  	right: 83.86%;
  	left: 7.37%;
  	max-width: 100%;
  	overflow: hidden;
  	height: 25px;
  	object-fit: cover;
}
.property-1variant4 {
  	position: absolute;
  	top: 278px;
  	left: 20px;
  	width: 285px;
  	height: 66px;
}
.p {
  	margin: 0;
}
.property-1variant5 {
  	position: absolute;
  	top: 364px;
  	left: 20px;
  	width: 285px;
  	height: 66px;
}
.i5 {
  	position: absolute;
  	height: 31.82%;
  	width: 8.07%;
  	top: 31.82%;
  	left: 7.72%;
  	font-size: 24px;
  	display: inline-block;
  	font-weight: 600;
  	color: #000;
}
.property-1variant6 {
  	position: absolute;
  	top: 450px;
  	left: 20px;
  	width: 285px;
  	height: 66px;
}
.property-1variant7 {
  	position: absolute;
  	top: 536px;
  	left: 20px;
  	width: 285px;
  	height: 66px;
}
.lecon-intitul {
  	position: absolute;
  	top: 196px;
  	left: 1373px;
  	width: 295px;
  	height: 52.1px;
}
.leon-1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 600;
  	display: inline-block;
  	width: 91.9px;
  	height: 52.1px;
}
.eparrow-up-icon {
  	position: absolute;
  	top: 0px;
  	left: 265px;
  	width: 30px;
  	height: 30px;
}
.categorie-section {
  	position: absolute;
  	top: 104px;
  	left: 15px;
  	border-radius: 0px 0px 0px 39px;
  	background-color: #fff;
  	width: 268px;
  	height: 967px;
}
.bouton-cat {
  	position: absolute;
  	top: 120px;
  	left: 15px;
  	border-radius: 5px;
  	border: 1px dashed #8a38f5;
  	box-sizing: border-box;
  	width: 258px;
  	height: 451px;
  	overflow: hidden;
  	font-size: 10px;
}
.cours-property-1default {
  	position: absolute;
  	top: 11px;
  	left: 11px;
  	width: 234px;
  	height: 65px;
}
.property-1default-inner {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 10px;
  	background-color: #fffefe;
}
.dashboard {
  	position: absolute;
  	height: 23.08%;
  	width: 50%;
  	top: 36.92%;
  	left: 26.07%;
  	display: inline-block;
}
.material-symbolsdashboard-icon {
  	position: absolute;
  	width: 14.66%;
  	top: 14px;
  	right: 78.5%;
  	left: 6.84%;
  	max-width: 100%;
  	overflow: hidden;
  	height: 34.3px;
}
.cours-property-1variant2 {
  	position: absolute;
  	top: 86px;
  	left: 11px;
  	width: 234px;
  	height: 65px;
}
.cours-et-lecon {
  	position: absolute;
  	height: 23.08%;
  	width: 50%;
  	top: 38.46%;
  	left: 24.79%;
  	display: inline-block;
}
.cours-property-1variant3 {
  	position: absolute;
  	top: 161px;
  	left: 11px;
  	width: 234px;
  	height: 65px;
}
.property-1variant3-inner {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 10px;
  	background-color: rgba(151, 204, 100, 0.81);
}
.exercices-et-quizz {
  	position: absolute;
  	height: 23.08%;
  	width: 50%;
  	top: 16.67%;
  	left: 27.59%;
  	display: inline-block;
}
.cours-property-1variant4 {
  	position: absolute;
  	top: 236px;
  	left: 11px;
  	width: 234px;
  	height: 65px;
}
.calendrier {
  	position: absolute;
  	height: 62.46%;
  	width: 50%;
  	top: 16.67%;
  	left: 27.59%;
  	display: inline-block;
}
.cours-property-1variant5 {
  	position: absolute;
  	top: 311px;
  	left: 11px;
  	width: 234px;
  	height: 65px;
}
.cours-property-1variant6 {
  	position: absolute;
  	top: 386px;
  	left: 11px;
  	width: 234px;
  	height: 65px;
}
.cadre-rep {
  	position: absolute;
  	top: 248px;
  	left: 301px;
  	border-radius: 10px;
  	background-color: #fff;
  	width: 1030px;
  	height: 823px;
}
.bouton-commencer {
  	position: absolute;
  	top: 914px;
  	left: 749px;
  	width: 143px;
  	height: 42px;
  	text-align: center;
  	color: #eff3fc;
  	font-family: Inter;
}
.cours-bouton-inscription {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 143px;
  	height: 42px;
}
.background2 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 50px;
  	background-color: #75aa3c;
  	width: 143px;
  	height: 42px;
}
.valider {
  	position: absolute;
  	top: calc(50% - 17px);
  	left: calc(50% - 56.5px);
  	font-weight: 600;
  	display: inline-block;
  	width: 112.7px;
  	height: 33.5px;
}
.titre-exo {
  	position: absolute;
  	top: 124px;
  	left: 301px;
  	width: 1030px;
  	height: 102px;
  	font-size: 36px;
}
.intitul-exo {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 10px;
  	background-color: #fff;
  	width: 1030px;
  	height: 102px;
}
.rsolution-dquation2 {
  	position: absolute;
  	height: 36.27%;
  	width: 44.37%;
  	top: 19.61%;
  	left: 2.33%;
  	display: inline-block;
  	font-weight: 600;
}
.rsolution-dquation3 {
  	margin: 0;
  	font-family: inherit;
  	font-size: inherit;
  	padding-left: 48px;
}
.jauge-progres {
  	position: absolute;
  	top: 88px;
  	left: 0px;
  	width: 1030px;
  	height: 14px;
}
.jauge-base {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 25px;
  	background-color: rgba(190, 215, 163, 0.43);
  	width: 1030px;
  	height: 14px;
}
.jauge-avancement {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 25px;
  	background-color: #bed7a3;
  	width: 45px;
  	height: 14px;
}
.question-01 {
  	position: absolute;
  	top: 285px;
  	left: 322px;
  	font-size: 40px;
  	display: inline-block;
  	font-weight: 600;
  	text-align: center;
  	width: 960px;
  	height: 78px;
}
.rponse {
  	position: absolute;
  	top: 420px;
  	left: 305px;
  	border-radius: 5px;
  	border: 1px dashed #8a38f5;
  	box-sizing: border-box;
  	width: 1011px;
  	height: 383px;
  	overflow: hidden;
  	display: flex;
  	align-items: flex-start;
  	padding: 20px;
  	gap: 20px;
  	text-align: center;
  	font-size: 16px;
  	color: #5c5d61;
}
.proposition-a {
  	flex: 1;
  	position: relative;
  	height: 327.3px;
}
.proposition-a-item {
  	position: absolute;
  	height: 14.6%;
  	width: 20.98%;
  	top: 4.09%;
  	right: 68.93%;
  	bottom: 81.3%;
  	left: 10.08%;
  	border-radius: 4px;
  	background-color: #feffff;
}
.proposition-a-inner {
  	position: absolute;
  	height: 40.94%;
  	width: 58.82%;
  	top: 25.63%;
  	right: 20.73%;
  	bottom: 33.43%;
  	left: 20.45%;
  	background-color: #e8eaff;
}
.fondation-of-the {
  	position: absolute;
  	height: 23.98%;
  	width: 73.09%;
  	top: 73.41%;
  	left: 13.63%;
  	display: inline-block;
  	font-weight: 500;
}
.a {
  	position: absolute;
  	height: 15.83%;
  	width: 19.53%;
  	top: 2.85%;
  	left: 11.36%;
  	font-size: 36px;
  	font-weight: 600;
  	color: #4c445e;
  	display: inline-block;
}

